@page "/product"
@inject IProductService _productService
@inject ICartService _cartService
@inject NotificationService _notificationService

<PageTitle>Product list</PageTitle>
<h3>Product list</h3>


<div class="text-center bg-blue-100">
    <input class="border-4 w-1/3 rounded m-6 p-6 h-8
               border-blue-300" @bind-value="SearchText"
           @bind-value:event="oninput" placeholder="Search by Product Name" />
</div>

<div class="row">
    @foreach (var p in FilteredProducts)
    {
        <div class="card m-2" style="width: 18rem;">
            <EditForm Model="@p">
                <img class="card-img-top" src=@p.ImageUrl alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@p.Name</h5>
                    <p class="card-text">@p.Description</p>
                    <p class="card-text">@p.UnitPrice.ToString("c")</p>
                    <p> <InputNumber @bind-Value="@Count"></InputNumber> </p>
                    <p> <button class="btn btn-primary" onclick="@(() => AddToShoppingCart(@p))" type="submit">Add to cart</button> </p>
                </div>
            </EditForm>
        </div>
    }
</div>

@code {
    public int Count { get; set; } = 1;
    public string SearchText = "";

    private IEnumerable<ProductDto> _productList = new List<ProductDto>();

    private List<ProductDto> FilteredProducts => _productList.Where(
    product => product.Name.ToLower().Contains(SearchText.ToLower())).ToList();

    protected override async Task OnInitializedAsync()
    {
        _productList = await _productService.GetAll();
    }

    private async Task AddToShoppingCart(ProductDto p)
    {
        CartItem cartItem = new CartItem()
            {
                Product = p,
                Count = Count,
            };

        await _cartService.Increment(cartItem);
        Count = 1;
        var notificationMessage = new NotificationMessage
            {
                Severity = NotificationSeverity.Info,
                Summary = "Info",
                Detail = "Dodałeś przedmiot do koszyka",
                Duration = 4000,
                CloseOnClick = true,
                Payload = DateTime.Now
            };

        _notificationService.Notify(notificationMessage);
    }
}